# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [4]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [5]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [6]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [7]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [8]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [9]:
employees.append("Malwina")
employees.append("Julka")

ds = pd.Series(data=employees)
ds
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7    Malwina
8      Julka
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [10]:
components = ['monitor', 'ram', 'mouse', 'cpu', 'hardware']

In [11]:
ds = pd.Series(data=components)
ds
print(ds)

0     monitor
1         ram
2       mouse
3         cpu
4    hardware
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [13]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [14]:
tools_in_stock.update({'nail':20})
tools_in_stock.update({'axe':2})

tools = pd.Series(data=tools_in_stock)
tools
print(tools)

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
nail           20
axe             2
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [15]:
tools.sum()

80

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

In [16]:
tools.describe()

count     7.000000
mean     11.428571
std       8.059304
min       2.000000
25%       5.500000
50%       9.000000
75%      17.500000
max      23.000000
dtype: float64

### Tasks

Calculate the average number of tools in stock.

In [18]:
average = tools.sum()/tools.count()
print(average)

11.428571428571429

Generate descriptive statistics for the tools in stock.

In [19]:
tools.describe()

count     7.000000
mean     11.428571
std       8.059304
min       2.000000
25%       5.500000
50%       9.000000
75%      17.500000
max      23.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [ ]:
tools['drill']

You can also specify a subset of values [from:to].

In [ ]:
tools['drill':'saw']

For the selected values you can then calculate various statistics.

In [ ]:
tools['drill':'saw'].sum()

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [20]:
restaurant = {'Monday':21, 'Tuesday':40, 'Wednesday':34, 'Thursday':33, 'Friday':69, 'Saturday':100, 'Sunday':89}

With the created data series, follow the instructions below.

Display the contents of the Series.

In [23]:
restaurant = pd.Series(data=restaurant)
restaurant

Monday        21
Tuesday       40
Wednesday     34
Thursday      33
Friday        69
Saturday     100
Sunday        89
dtype: int64

Display the total number of restaurant customers.

In [24]:
restaurant.sum()

386

Display the median number of restaurant customers.

In [25]:
restaurant.median()

40.0

Display descriptive statistics.

In [26]:
restaurant.describe()

count      7.000000
mean      55.142857
std       30.775686
min       21.000000
25%       33.500000
50%       40.000000
75%       79.000000
max      100.000000
dtype: float64

Display the list of restaurant customers on business days.

In [32]:
restaurant['Monday':'Friday']

Monday       21
Tuesday      40
Wednesday    34
Thursday     33
Friday       69
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [33]:
restaurant['Monday':'Sunday'].sum()

386

Display the list of restaurant customers on the weekend.

In [34]:
restaurant['Saturday':'Sunday']

Saturday    100
Sunday       89
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [35]:
restaurant['Saturday':'Sunday'].sum()

189