# MY FIRST JUPITER NOTEBOOK
---

## Short Definition
A Jupyter notebook is a web-based interactive environment for creating and sharing documents that contain **code, text, and visualizations**. It is a powerful tool for data science, machine learning, and other technical fields.

Jupyter notebooks are organized into **cells, which can contain either code or text**. Code cells are executed by the Jupyter kernel, which is a programming environment that runs the code and displays the results. Text cells can contain Markdown or LaTeX formatting, which allows you to create rich and readable documents.

## Simple Example

Below, in the code cells, you have simple Python statements. Execute these cells one by one. Note that data can be displayed in many ways.

In [1]:
name = 'Peter'
name

'Peter'

In [ ]:
age = 23
print('My name is ' + name)
print('I am ' + str(age))

In [ ]:
older = age + 7
f'In seven years, I will be {older}'

### Tasks

A student took part in three tests. He scored 20 points on the first test, 15 points on the second test, and 30 points on the third test. Calculate and display:

* the sum of points from all tests
* the arithmetic mean of the points obtained

In [4]:
test1 = 20
test2 = 15
test3 = 30
sum = test1+test2+test3
arithmetic_mean = sum / 3
print('Sum of the points: ' + str(sum))
print('Arithmetic mean of the points: ' + str(arithmetic_mean))
# complete this task
# display results along with some description (do not diplay only raw numbers)

Sum of the points: 65
Arithmetic mean of the points: 21.666666666666668

A bicycle speed is 25 km/h. Display the bicycle speed in both km/h and m/s.

In [5]:
speed_kmh = 25
speed_ms = speed_kmh / 3.6

print('Speed in km/h: ' + str(speed_kmh))
print('Speed in m/s: ' + str(speed_ms))

Speed in km/h: 25
Speed in m/s: 6.944444444444445

The distance from Krakow to Warsaw is 315 km. Travel time by car is 210 minutes. Calculate and display the average speed of the car in km/h.

In [6]:
distance_km = 315
time_min = 210
time_h = time_min/60

speed = distance_km/time_h

print('Speed in km/h: ' + str(speed))

Speed in km/h: 90.0

## Entering Data from Keyboard

You can also enter data using the keyboard. The input() statement is used for this purpose. Note that keyboard input is in text form. So, if you want to enter a number, you must convert the entered value to a number after entering it. The int() and float() functions are used for this purpose.

In [ ]:
name = input('Product name: ')
qty = input('Product quantity: ')
qty = int(qty)
print(name,qty)

### Tasks

Calculate and display the area and perimeter of a rectangle with sides a and b. Read the lengths of the rectangle's sides from the keyboard.

In [3]:
side_a = input('Side a: ')
side_b = input('Side b: ')

side_a = float(side_a)
side_b = float(side_b)

area = (side_a * side_b) / 2

print('Area: ' + str(area))

Area: 6.0