# 3: Przetwarzanie danych - łączenie, sortowanie i grupowanie
#### Połącz dane z plików krk-airlines.csv, krk-flights.csv i krk-passengers.csv w jednym obiekcie DataFrame. Następnie utwórz wykres słupkowy przedstawiający liczbę osób podróżujących do Londynu i Paryża.

The table below shows the number of visits to a certain online store and the number of products purchased.

Day | Browser | Visits | Purchase
----|---------|--------|---------
Monday | Edge | 15 | 3
Monday | Chrome | 17 | 1
Monday | Safari | 11 | 2
Friday | Edge | 10 | 2
Friday | Safari | 23 | 7
Sunday | Chrome | 34 | 12

To calculate and display the total number of visits on individual days of the week, specify the result columns, the columns by which the data are grouped and the aggregation function:

To calculate and display the total number of visits on individual days of the week, specify the result columns, the columns by which the data are grouped and the aggregation function:

To calculate and display the total number of visits on individual days of the week, specify the result columns, the columns by which the data are grouped and the aggregation function:

Calculate and display the number of web browsers used on specific days of the week.

Calculate and display the number of web browsers used on specific days of the week. Sort the results in descending order.

The 'employees.csv' file contains data of employees of one of the IT companies. Display employee list. Then, calculate and display:

1. Number of women and men
1. Number of employees by country
1. Number of women and men by country
1. Average age of employees
1. Average age of women and men
1. Average salary in the company.
1. Average salary of women and men
1. Minimum age of women and men by country. Sort the results in descending order.
1. Median salary of women and men by country.
1. Median salary of women and men by country. Save the results to a csv file.

The table below contains a list of products ordered in the online store.

OrderNo | Date | Product | Quantity
--------|------|---------|:-------:
295 | 2024-02-09 | chair | 6
295 | 2024-02-12 | lamp  | 6
312 | 2024-02-17 | desk | 2
312 | 2024-02-17 | lamp | 1
314 | 2024-02-18 | desk | 4

The table below contains the price list of products in this store. As you can see, both tables contain product names. You can therefore combine them into one common data collection.

Product | Price
--------|------:
desk | 450.00
chair | 275.00
lamp | 79.00

First, you need to create data collections corresponding to the contents of the tables. Now, based on the data collections, create DataFrames.

Finally, you join both DataFrames and display their common content. Note the use of the 'merge' function. You must provide the names of both DataFrames and the name of the column that contains the common data.

You can also complete the final DataFrame by adding a new column containing the amount to be paid for the ordered products.

It turns out that the store offers a discount on selected products. Currently, the discount on desks is 20%, while the discount on lamps is 30%. Create another DataFrame containing a list of discounted products. Then, join the discounted data with the previous data collections. Calculate and display the amounts to pay, after taking into account the discount.

The data below contains the exam results and whether the exam was passed.

Name     | Total | Result
---------|-------|---------
Olivier  | 90    | passed
Naomi    | 42    | failed
Olivia   | 71    | passed
Nolan    | 100   | passed
Dylan    | 39    | failed

Follow the instructions below. After completing each point, display the contents of the DataFrame.

1. Based on the data in the table, create the content of the DataFrame.
1. Sort the list of people alphabetically.
1. Sort the list of people according to their points, starting with the highest value.
1. Sort the list of people by their score, starting with the people who passed the exam.
1. Sort the list of people by their score, starting with those who passed the exam and then by those names alphabetically. Hint. Use the link above to see how to sort data by more than one column.

Add the 'University' column to your exam DataFrame. Assign the first two people the name 'UEK' and the remaining three people the name 'AGH'. Display updated DataFrame.